# FastAPI core
fastapi

# ASGI server
uvicorn[standard]

# PostgreSQL support
psycopg2-binary
sqlalchemy
asyncpg

# Data validation & settings
pydantic
email-validator   # enables Pydantic's EmailStr validation

# Database migrations (optional but recommended)
alembic
python-dotenv
dependency-injector
python-jose[cryptography] 
passlib[bcrypt]
bcrypt==4.0.1   # passlib 1.7.4 is incompatible with bcrypt>=4.1
pyjwt
# Required by SQLAlchemy async
greenlet
